# Resources required by the sample browser and most samples.
[Essential]

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=../media/materials/scripts
FileSystem=../media/materials/textures
FileSystem=../media/models

[General]
FileSystem=../media

# Materials for visual tests
[Tests]
